<style>

  .input-field label {
      -webkit-transform: translateY(-14px) scale(0.8);
      transform: translateY(-14px) scale(0.8);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
  }

</style>

<div class="container">
  <div class="center">
    <h4>Responsavel</h4>
    <hr />
  </div>

  <div class="col s12">
    <div
      id="msg-login"
      class="card-panel white-text"
      [class.red]="!this.isSuccess"
      [class.blue]="this.isSuccess"
      *ngIf="this.isShowMessage"
    >
      {{ this.message }}
    </div>
  </div>

  <form class="col s12" #form="ngForm" (submit)="onSubmit()">

    <div class="row">
      <div class="input-field col s2">
         <input
          id="input-id"
          name="input-id"
          type="text"
          [(ngModel)]="this.responsavel.id"
          #id="ngModel"
          disabled
          />
         <label for="input-id">Código</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="input-nome"
          name="input-nome"
          type="text"
          [(ngModel)]="this.responsavel.nome"
          #nome="ngModel"
          pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
          class="validate"
          placeholder="Nome completo"
          required
        >
        <label for="input-nome">Nome Completo *</label>
        <div class="red-text" [hidden]="nome.valid || nome.untouched">
          Informe o nome completo
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input
          id="input-aniversario"
          name="input-aniversario"
          type="date"
          class="datepicker"
          [(ngModel)]="this.responsavel.aniversario"
          #aniversario="ngModel"
        />
        <label for="input-aniversario">Data de Nascimento</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="input-endereco"
          name="input-endereco"
          type="text"
          [(ngModel)]="this.responsavel.endereco"
          #endereco="ngModel"
          class="validate"
          placeholder="Endereco"
          required
        >
        <label for="input-endereco">Endereco *</label>
        <div class="red-text" [hidden]="endereco.valid || endereco.untouched">
          Informe o endereco
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input
          id="input-cidade"
          name="input-cidade"
          type="text"
          [(ngModel)]="this.responsavel.cidade"
          #cidade="ngModel"
          class="validate"
          placeholder="Cidade"
          required
        >
        <label for="input-cidade">Cidade *</label>
        <div class="red-text" [hidden]="cidade.valid || cidade.untouched">
          Informe a cidade
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
         <input
          id="input-cep"
          name="input-cep"
          type="text"
          [(ngModel)]="this.responsavel.cep"
          #cep="ngModel"
          placeholder="CEP"

          />
         <label for="input-cep">CEP</label>
      </div>
    </div>
    <div>
      <button
        class="btn waves-effect waves-light teal darken-4"
        type="submit"
        [disabled]="!form.valid"
      >
        Enviar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>

  <div class="row">
    <div class="center">
      <h5>Responsaveis cadastrados</h5>
    </div>
    <!-- Tabela de responsavel -->
    <table class="highlight" *ngIf="responsaveis && responsaveis!.length > 0">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nome</th>
          <th>Nascimento</th>
          <th>Endereco</th>
          <th>Cidade</th>
          <th>Cep</th>
          <th>Opções</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let responsavel of responsaveis">
          <td>{{ responsavel.id | titlecase }}</td>
          <td>{{ responsavel.nome | titlecase }}</td>
          <td>{{ responsavel.aniversario | date  }}</td>
          <td>{{ responsavel.endereco | titlecase }}</td>
          <td>{{ responsavel.cidade | titlecase }}</td>
          <td>{{ responsavel.cep | cep }}</td>
          <td class="right">
            <a
              ><i class="material-icons my-icon-size" (click)="onEdit(responsavel)"
                >edit</i
              ></a
            >
            <a
              ><i
                class="material-icons my-icon-size"
                (click)="onDelete(responsavel)"
                >delete</i
              ></a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!responsaveis || responsaveis!.length == 0">
      <div class="row">
        <div class="center-align">
          <i class="col s12 material-icons large">person</i>
          <span class="col s12 flow-text"
            >Sem responsaveis cadastrados!</span
          >
        </div>
      </div>
    </div>
  </div>

</div>
